// All center
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Vertical center
@mixin vCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Horizental center
@mixin hCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// Normal Box Shadow
@mixin boxShadow {
    box-shadow: 0 0 10px 3px black;
}

// Increase shadow
@mixin increaseBoxShadow {
    box-shadow: 0 0 15px 5px black;
}

// Hide the element before scroll
@mixin elemtBeforeScroll {
    top: 300px;
}