// colors
$primarColor:#406dc8;
$secondaryColor:#56acbb;
// Measurements
$headingSize:52px;
$headingSizeTab: 40px;
$headingSizeMobile: 30px;
// All center
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    // Custom Scroll bar
    &::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(42, 42, 42);
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(128, 127, 127);
        outline: 1px solid rgb(128, 127, 127);
    }
    margin: 0;
    font-family: 'Tenali Ramakrishna',
    sans-serif;
    background-color: rgba(0, 0, 0, 0.068);
    header {
        padding: 0;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-image: linear-gradient(to right, $primarColor, $secondaryColor);
        h1 {
            margin: 0;
            padding: 10px;
            font-size: 32px;
            color: white;
        }
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            li {
                padding: 10px 20px;
                font-size: 32px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.514);
                    a {
                        color: $secondaryColor;
                        text-decoration: none;
                    }
                }
                a {
                    color: white;
                }
            }
            // Closing icon for Tabs and mobile
            .fa-times {
                color: white;
                right: 3%;
                position: absolute;
                font-size: 50px;
                display: none;
                top: 0;
            }
        }
        .hamburger {
            display: none;
            .fa-bars {
                color: white;
            }
        }
    }
    // Home
    .home {
        max-height: 200vh;
        overflow: hidden;
        position: relative;
        #particles-js {
            height: 100vh;
        }
        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            h1 {
                margin: 20px;
            }
            h2 {
                font-size: 30px;
                margin: 10px;
                text-align: right;
            }
        }
    }
    // Projects
    .projects {
        margin-top: 5em;
        h1 {
            text-align: center;
            font-size: $headingSize;
        }
        // btn-list
        .btn-list {
            margin-top: 3em;
            z-index: 2;
            .elem {
                .btn {
                    margin-top: 10px;
                    background-color: $primarColor;
                    border-color: $primarColor;
                    &:hover {
                        background-color: $secondaryColor;
                        border-color: $secondaryColor;
                    }
                }
            }
        }
        .project-list {
            margin-top: 2em;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-around;
            .pl-elem {
                position: relative;
                margin: 10px;
                overflow: hidden;
                max-width: 800px;
                img {
                    width: 100%;
                }
                .detail {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: -100%;
                    left: 0;
                    .detail-elem {
                        color: white;
                        width: inherit;
                        height: inherit;
                        background-color: rgba(0, 0, 0, 0.9);
                        h1 {
                            @include center();
                            margin: 0;
                        }
                    }
                }
                // Make transition when hover on the project block
                &:hover {
                    .detail {
                        display: inline;
                        top: 0;
                    }
                }
            }
        }
    }
    // Contact
    .contact {
        margin-top: 5em;
        h1 {
            text-align: center;
        }
        .block {
            margin-top: 3em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .elem_1 {
                font-size: 32px;
                a {
                    cursor: pointer;
                    padding: 10px;
                    text-decoration: none;
                    color: rgb(56, 56, 58);
                    i {
                        color: white;
                        padding: 20px;
                        margin: 10px;
                        border-radius: 10px;
                        border-radius: 50%;
                    }
                    .fa-facebook {
                        background-color: rgb(66, 103, 178);
                        padding: 20px 27px;
                    }
                    .fa-github {
                        background-color: rgb(37, 37, 37);
                        padding: 20px 22px;
                    }
                    .fa-envelope {
                        background-color: rgb(233, 59, 59);
                    }
                }
            }
            .elem_2 {
                form {
                    margin: 50px 0;
                    input {
                        font-size: 16px;
                        padding: 10px;
                        margin-bottom: 10px;
                        &:last-child {
                            width: 94.5%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    body {
        // Header
        header {
            ul {
                display: none;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.9);
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                z-index: 1;
                padding-left: 0;
                li {
                    cursor: pointer;
                    text-align: center;
                    &:nth-child(1) {
                        margin-top: 60px;
                    }
                }
            }
            .hamburger {
                display: block;
                position: absolute;
                right: 3%;
                .fa-bars {
                    font-size: 47px;
                }
            }
        }
        // Home
        .home {
            .text {
                h1 {
                    font-size: 60px;
                    margin: 10px;
                }
                h2 {
                    font-size: 20px;
                    margin: 5px;
                }
            }
        }
        // Projects
        .projects {
            h1 {
                font-size: $headingSizeTab;
            }
            .block {
                grid-template-columns: auto auto;
            }
        }
        // Contact
        .contact {
            h1 {
                font-size: $headingSizeTab;
            }
            .block {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width:425px) {
    body {
        // Home
        .home {
            .text {
                h1 {
                    font-size: 40px;
                    margin: 10px;
                }
                h2 {
                    font-size: 20px;
                    margin: 5px;
                }
            }
        }
        // Projects
        .projects {
            h1 {
                font-size: $headingSizeMobile;
            }
            .block {
                grid-template-columns: auto;
            }
        }
        .contact {
            h1 {
                font-size: $headingSizeMobile;
            }
            .block {
                .elem_1 {
                    font-size: 21px;
                }
            }
        }
    }
}