body {
  margin: 0;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #807f7f;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  outline: 1px solid #2a2a2a;
}

body header {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

body header h1 {
  margin: 0;
  padding: 10px;
  font-size: 32px;
  color: white;
}

body header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

body header ul li {
  padding: 10px 20px;
  font-size: 32px;
}

body header ul li:hover {
  background-color: rgba(0, 0, 0, 0.637);
}

body header ul li a {
  text-decoration: none;
  color: white;
}

body header ul .fa-times {
  color: white;
  right: 3%;
  position: absolute;
  font-size: 72px;
  display: none;
  top: 0;
}

body header .hamburger {
  display: none;
}

body header .hamburger .fa-bars {
  color: white;
}

body .home {
  max-height: 200vh;
  overflow: hidden;
  position: relative;
}

body .home img {
  width: 100%;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

body .home .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
}

body .home .text h1 {
  margin: 20px;
}

body .home .text h2 {
  font-size: 30px;
  margin: 10px;
  text-align: right;
}

body .projects h1 {
  text-align: center;
  font-size: 52px;
}

body .projects .block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

body .projects .block .block__elem {
  margin: 10px;
  background-color: red;
}

body .projects .block .block__elem img {
  width: 100%;
}

body .contact h1 {
  text-align: center;
}

body .contact .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .contact .block .elem_1 {
  font-size: 32px;
}

body .contact .block .elem_1 a {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: #38383a;
}

body .contact .block .elem_1 a i {
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-radius: 50%;
}

body .contact .block .elem_1 a .fa-facebook {
  background-color: #4267b2;
  padding: 20px 27px;
}

body .contact .block .elem_1 a .fa-github {
  background-color: #252525;
  padding: 20px 22px;
}

body .contact .block .elem_1 a .fa-envelope {
  background-color: #e93b3b;
}

body .contact .block .elem_2 form {
  margin: 50px 0;
}

body .contact .block .elem_2 form input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

body .contact .block .elem_2 form input:last-child {
  width: 94.5%;
}

@media screen and (max-width: 768px) {
  body header ul {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    padding-left: 0;
  }
  body header ul li {
    cursor: pointer;
    text-align: center;
  }
  body header .hamburger {
    display: block;
    position: absolute;
    right: 3%;
  }
  body header .hamburger .fa-bars {
    font-size: 60px;
  }
  body .home .text h1 {
    font-size: 60px;
    margin: 10px;
  }
  body .home .text h2 {
    font-size: 20px;
    margin: 5px;
  }
  body .projects h1 {
    font-size: 40px;
  }
  body .projects .block {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  body .contact h1 {
    font-size: 40px;
  }
  body .contact .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  body header .hamburger .fa-bars {
    font-size: 60px;
  }
  body .home .text h1 {
    font-size: 40px;
    margin: 10px;
  }
  body .home .text h2 {
    font-size: 20px;
    margin: 5px;
  }
  body .projects h1 {
    font-size: 30px;
  }
  body .projects .block {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body .contact h1 {
    font-size: 30px;
  }
  body .contact .block .elem_1 {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */