$headingSize:52px;
$headingSizeTab: 40px;
$headingSizeMobile: 30px;
body {
    margin: 0;
    font-family: 'Tenali Ramakrishna', sans-serif;
    header {
        padding: 0;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        h1 {
            margin: 0;
            padding: 10px;
            font-size: 32px;
            color: white;
        }
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            li {
                padding: 10px 20px;
                font-size: 32px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.637);
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            // Closing icon for Tabs and mobile
            .fa-times {
                color: white;
                right: 3%;
                position: absolute;
                font-size: 72px;
                display: none;
                top: 0;
            }
        }
        .hamburger {
            display: none;
            .fa-bars {
                color: white;
            }
        }
    }
    // Home
    .home {
        max-height: 200vh;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            filter: brightness(25%);
        }
        .text {
            position: absolute;
            top: 30%;
            left: 20%;
            color: white;
            h1 {
                color: white;
            }
        }
    }
    // Projects
    .projects {
        h1 {
            text-align: center;
            font-size: $headingSize;
        }
        .block {
            display: grid;
            grid-template-columns: auto auto auto;
            .block__elem {
                margin: 10px;
                background-color: red;
                img {
                    width: 100%;
                }
            }
        }
    }
    // Contact
    .contact {
        h1 {
            text-align: center;
        }
        .block {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .elem_1 {
                font-size: 32px;
                a {
                    cursor: pointer;
                    padding: 10px;
                    text-decoration: none;
                    color: rgb(56, 56, 58);
                    i {
                        color: white;
                        padding: 20px;
                        margin: 10px;
                        border-radius: 10px;
                        border-radius: 50%;
                    }
                    .fa-facebook {
                        background-color: rgb(66, 103, 178);
                        padding: 20px 27px;
                    }
                    .fa-github {
                        background-color: rgb(37, 37, 37);
                        padding: 20px 22px;
                    }
                    .fa-envelope {
                        background-color: rgb(233, 59, 59);
                    }
                }
            }
            .elem_2 {
                form {
                    margin: 50px 0;
                    input {
                        font-size: 16px;
                        padding: 10px;
                        margin-bottom: 10px;
                        &:last-child {
                            width: 94.5%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    body {
        // Header
        header {
            ul {
                display: none;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.9);
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                z-index: 1;
                padding-left: 0;
                li {
                    cursor: pointer;
                    text-align: center;
                }
            }
            .hamburger {
                display: block;
                position: absolute;
                right: 3%;
                .fa-bars {
                    font-size: 60px;
                }
            }
        }
        // Projects
        .projects {
            h1 {
                font-size: $headingSizeTab;
            }
            .block {
                grid-template-columns: auto auto;
            }
        }
        // Contact
        .contact {
            h1 {
                font-size: $headingSizeTab;
            }
            .block {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width:425px) {
    body {
        //header
        header {
            .hamburger {
                .fa-bars {
                    font-size: 60px;
                }
            }
        }
        // Projects
        .projects {
            h1 {
                font-size: $headingSizeMobile;
            }
            .block {
                grid-template-columns: auto;
            }
        }
        .contact {
            h1 {
                font-size: $headingSizeMobile;
            }
            .block {
                .elem_1 {
                    font-size: 21px;
                }
            }
        }
    }
}