// colors
$primaryColor:#065186;
$secondaryColor:#56acbb;
// Measurements
$headingSize:52px; // font size of block heading bigger screen
$headingSizeTab: 40px; // font size of block heading  Tabs
$headingSizeMobile: 30px; // font size of block heading  for mobiles
// Margins
$marginTop:5em; // distance between two blocks
$underTopMargin:4em; // distance between box and box inner element
// color of text
$textColor:rgb(126, 126, 126);
$footerTextColor:rgb(218, 218, 218);