// colors
$primarColor:#406dc8;
$secondaryColor:#56acbb;
// Measurements
$headingSize:52px; // font size of block heading bigger screen
$headingSizeTab: 40px; // font size of block heading  Tabs
$headingSizeMobile: 30px; // font size of block heading  for mobiles
// Margins
$topMargin:7em; // distance between two blocks
$underTopMargin:4em; // distance between box and box inner element