<div class="contact mt-5">
  <h2 class="text-center">Say Hello</h2>
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="row contact__item">
        <div class="col-1 contact__icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col-11 contact__text">
          <p>Address</p>
          <p><b>21 jump Street</b></p>
        </div>
      </div>

      <div class="row contact__item">
        <div class="col-1 contact__icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-11 contact__text">
          <p>Phone</p>
          <p><b>+923339449361</b></p>
        </div>
      </div>

      <div class="row contact__item">
        <div class="col-1 contact__icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="col-11 contact__text">
          <p>E-mail</p>
          <p><b>asfandtaimoor786@gmail.com</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-7 mt-3 mt-md-0">
      <form>
        <div class="row g-3">
          <div class="mb-3 col">
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Name *"
              required
            />
          </div>
          <div class="mb-3 col">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email *"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Subject *"
            placeholder="Subject"
          />
        </div>

        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Message"
            id="floatingTextarea2"
            style="height: 100px"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-lg btn-dark mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
