<div class="container skills__block">
  <h1 class="text-center">Skills</h1>
  <div class="row w-100 mt-4">
    <div class="col-md">
      <h2>I Am Front-End Developer</h2>
      <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus
        ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim
        sagittis quam, id porta Lorem ipsum dolor sit . Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. In maximus ligula semper metus
        pellentesque mattis. Maecenas volutpat.
      </p>
      <button class="btn btn-dark btn-lg">
        <i class="fas fa-download"></i> Resume
      </button>
      <button class="btn btn-dark btn-lg">Hire me</button>
    </div>
    <!-- skill bars -->
    <div class="col-md">
      <h3>HTML5</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-danger"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
      <h3>Css3</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
      <h3>JAVASCRIPT</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-warning"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
      <h3>GSAP</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
      <h3>REACTJS</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>
  </div>
</div>
