footer {
  background-color: #111111;
  color: white;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer > nav > a {
  font-size: 30px;

  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  transition-duration: 0.5s;
}

footer > nav > a:hover {
  color: white;
  font-size: 45px;
  text-decoration: none;
}
