<!-- <footer class="row">
  <div class="col-md row">
    <div class="col-sm list">
      <div class="text">
        <h1><span>A_</span>Taimoor<span>.</span></h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore qui
          eaque nemo impedit deleniti rerum ipsa quasi facilis officia libero
          reprehenderit blanditiis provident ad molestias fugiat fugit, vitae
          nulla veritatis!
        </p>
      </div>
      <div class="icons">
        <a href="https://web.facebook.com/asfand.taimoor/" target="_blank"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://twitter.com/salyhal" target="_blank">
          <i class="fab fa-twitter-square"></i
        ></a>
        <a href="https://github.com/asfandtaimoor" target="_blank"
          ><i class="fab fa-github-square"></i
        ></a>
        <a href="https://www.instagram.com/taimoorsalyhal/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="col-sm list">
      <h3>Quick Links</h3>
      <nav>
        <a href="#home-section"><span>></span>Home</a>
        <a href="#project-section"><span>></span>About Us</a>
        <a href="#"><span>></span>Comming Soon</a>
        <a href="#"><span>></span>Comming Soon</a>
        <a href="#"><span>></span>Comming Soon</a>
        <a href="#"><span>></span>Comming Soon</a>
      </nav>
    </div>
  </div>
  <div class="col-md row">
    <div class="col-sm list">
      <h3>Categories</h3>
      <nav>
        <a href="#"><span>></span>Web Design</a>
        <a href="#"><span>></span> Web Development</a>
        <a href="#"><span>></span>Online Marketing</a>
        <a href="#"><span>></span>Portfolio</a>
        <a href="#"><span>></span>App Design</a>
        <a href="#"><span>></span>App Development</a>
        <a href="#"><span>></span>Online Training</a>
      </nav>
    </div>
    <div class="col-sm list">
      <h3>Recent Posts</h3>
      <nav>
        <a href="#"><span>></span>What is Lorem?</a>
        <a href="#"><span>></span>Why do we use it?</a>
        <a href="#"><span>></span>There are many variations</a>
        <a href="#"><span>></span>Passages of lorem </a>
        <a href="#"><span>></span>Contrary to popular</a>
        <a href="#"><span>></span>Lorem ispum is not simply</a>
      </nav>
    </div>
  </div>
</footer> -->
